/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

body {
    background-color:rgb(250,250,250);
    line-height: 140%;
    font-family: serif;
    display: flex;
    justify-content: center;
}

main {
    max-width: 1200px;
    width: 90%;
    background-color: white;
}

header {
    width: 100%;
}

h1 {
    background-color:rgb(238,141,52);
    color: rgb(250, 250, 250);
    font-size: 2em;
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 2em;
    line-height: 1em;
}

h2 {
    background-color: rgb(238, 141, 52);
    color: rgb(249, 222, 191);
    font-size: 1.5em;
    font-family: Sutro, serif;  
    font-weight: 400;  
    font-style: normal;
    padding-top: 0.7em;
    padding-left: 0.7em;
    padding-bottom: 1em;
}

h3 {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
    color: rgb(238, 141, 52);
    text-transform: uppercase;
    font-family: Sutro, serif;  
    font-weight: 400;  
    font-style: normal;
    letter-spacing: 0.05em;
}

figure {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5em;
    margin: 0;
    padding: 0;
}

figure img {
    width: 80%;
    height: auto;
    margin: 0;
    display: block;

}

figcaption {
    width: 15%;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    padding-top: 2em;
    padding-left: 1.3em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    line-height: 1.5em;
}

ul {
    padding-top: 0.5em;
    padding-left:1.5em;
    padding-right: 2em;
    padding-bottom: 1em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    line-height: 2em;
}

ol {
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 2em;
    padding-bottom: 2em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

ol li {
    margin-bottom: 1em;
}

.section-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}
 
.ingredients, .directions {
    flex: 1;
    min-width: 300px;
}

footer{
     background-color:rgb(238,141,52);
     color: rgb(250, 250, 250);
     padding-top: 1em;
     padding-left: 1em;
     padding-bottom: 1em;
     font-size: 1em;
     font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    width: 100%;
}


/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
