/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images/home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 150vh;
	
}

div.container { 
	position: relative;
	min-height: 110vh;
	padding-bottom: 5em;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 1em 1em 1em;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(245, 200, 103);
	padding: 1em;
	}

h1 {
	width: 300px;
	}
	

h2, h3, h4 {
	font-family: "amifer", sans-serif;
	font-weight: bold;
	font-style: normal;

	}

h2 {
	font-size: 2em;
	margin: 1em 0em; 
	font-family: "amifer", sans-serif;
	font-weight: bold;
	font-style: normal;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 0.3em 1em;
	font-family: "amifer", sans-serif;
	font-weight: bold;
	font-style: normal;
		
}

a {
	text-decoration: none;
	}

nav ul  {
	display: block;
	text-align: right;
	margin: 0em;
	padding: 0em;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
	margin: 1em 0em 1em;
	font-family: sans-serif;
}	

main.menu ul li {
	margin: 1.5em 1em 1em;
	display: grid;
	align-items: start;
}	

p {
	font-family: "amifer", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	line-height: 1.3em;
	margin-top: 0.5em
	}
	
p.description {
	grid-column: 1;
	font-family: "amifer", sans-serif;
	font-weight: 400;
	font-style: normal;

	}
	
p.price {
	grid-column: 2;
	grid-row: 1;
	text-align: right;
	font-family: "amifer", sans-serif;
	font-weight: bold;
	font-style: normal;

	}
	
nav ul li {
	text-transform: uppercase;
	margin-bottom: 0.5em;
	font-family: "amifer", sans-serif;
	font-weight: bold;
	font-style: normal;

	}
	
nav ul li a {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	padding: 0.5em 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	display: inline-block;
	}

nav ul li.selected a {
	color:rgb(250, 250, 250);	
	background-color:rgb(0, 0, 0);
}
	

p.slogan {
	font-size: 4em;
	font-family: "amifer", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0em 0em 0em;
	padding: 0.5em 0.2em 2em;
	color: rgb(0, 0, 0);	
	text-align: left;
	}

p.hours {
	margin: 0.5em 0em;
	padding: 1em;
	font-family: "amifer", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	line-height: 0em;
}
	
footer {
	position: absolute;
 	bottom: 0;
  	width: 100%;
  	height: 3rem; 
  	box-sizing: border-box;
  	background: rgb(135, 135, 135);
  	font-family: sans-serif;
  	padding-top: 1em;
}

address {
	padding: 0.5em 1em 0em;
	font-family: "amifer", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(0, 0, 0);
	}

footer p {
	padding-top: 0em;
	margin-left: 0.5em;
	margin-top: 0em;
}

.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

@media screen and (min-width: 60em) {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	article {
		width: 40em;
		margin: auto;
	}
	
	nav ul {
		display: flex;
		gap: 0.5em;
		justify-content: flex-end;
		font-size: 1.5em;  
        padding: 0.7em 1em; 
	}
	
	}

	



